DATABASE_URL="mongodb://mongo:27017/conge?replicaSet=rs0"
JWT_SECRET="VDM-SMART-RH-BY-PaterneSEKA-hash"
SEED_ADMIN_PASSWORD="ChangeMe123!"
APP_URL="https://votre-domaine.example"
EMAIL_NOTIFICATIONS_ENABLED="true"

SMTP_HOST="ssl0.ovh.net"
SMTP_PORT="587"
SMTP_SECURE="false"

SMTP_USER="dsi@veilleurdesmedias.com"
SMTP_PASS="TON_MOT_DE_PASSE_ROUNDCUBE"

SMTP_FROM="DSI <dsi@veilleurdesmedias.com>"
